<div class="side-navigation d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
  <a href="#" class="d-flex align-items-center mb-md-0 me-md-auto mt-2 text-decoration-none">
    <img src="../../resources/images/canoreco.png" alt="Logo" style="width: 24px;">
    <span class="fs-5 fw-bold d-none d-sm-inline ms-2">CANORECO</span>
  </a>

  <hr class="w-100" />

  <ul class="nav nav-pills flex-column mb-auto align-items-center align-items-sm-start w-100" id="menu">

    <li class="nav-title fw-medium px-0 py-1">MAIN</li>

    <li class="nav-item w-100 mb-1">
      <a href="../dashboard/dashboard.html" class="nav-link align-middle px-0 w-100">
        <i class="fas fa-sliders ms-2"></i></i>
        <span class="ms-1 d-none d-sm-inline">Dashboard</span>
      </a>
    </li>

    <li class="w-100 mb-1">
      <a href="../outage/outage.html" class="nav-link align-middle w-100 px-0">
        <i class="fas fa-bolt ms-2"></i> <span class="ms-1 d-none d-sm-inline">Outage</span>
      </a>
    </li>

    <li class="w-100 mb-1">
      <a href="../news/news.html" class="nav-link align-middle w-100 px-0">
        <i class="fas fa-newspaper ms-2"></i> <span class="ms-1 d-none d-sm-inline">News</span>
      </a>
    </li>

    <li class="w-100 mb-1">
      <a href="#" class="nav-link align-middle w-100 px-0">
        <i class="fa-regular fa-comment-dots ms-2"></i> <span class="ms-1 d-none d-sm-inline">Consumer Complaints</span>
      </a>
    </li>


    <li class="nav-title fw-medium px-0 py-1 mt-3">OTHERS</li>

    <li class="w-100 mb-2">
      <a href="#submenu3" data-bs-toggle="collapse"
        class="nav-link px-0 align-middle w-100 d-flex justify-content-between align-items-center">
        <span>
          <i class="fa-regular fa-building ms-2"></i>
          <span class="ms-1 d-none d-sm-inline">Bayad Centers</span>
        </span>
        <span class="dropdown-toggle ms-1 me-2"></span>
      </a>

      <ul class="collapse nav flex-column w-100 mt-2 mb-1" id="submenu3" data-bs-parent="#menu">
        <div class="card w-100">
          <div class="card-body">
            <li class="w-100">
              <a href="../centers/bayad-center.html" class="nav-link px-0 w-100">
                <i class="fa-regular fa-money-bill-1 ms-2"></i><span class="ms-2 d-none d-sm-inline">Bayad Centers</span>
              </a>
            </li>

            <li class="w-100">
              <a href="../centers/business-center.html"  class="nav-link px-0 w-100">
                <i class="fa-solid fa-briefcase ms-2"></i></i><span class="ms-2 d-none d-sm-inline">Business Centers</span>
              </a>
            </li>
          </div>
        </div>
      </ul>
    </li>

    <li class="w-100 mb-1">
      <a href="../employee/employee.html" class="nav-link px-0 align-middle w-100">
        <i class="fas fa-hard-hat ms-2"></i></i> <span class="ms-1 d-none d-sm-inline">Employee</span>
      </a>
    </li>
  </ul>

</div>